{% extends "ourplace/base.html" %}

{% block body_block %}
  <div class="row mb-3">
      <div class="col-sm">
          <h1>Account Information</h1>
      </div>
  </div>
  <div class="row mb-3">
      <div class="col-sm-6">
        Username: {{ user.username }}
      </div>
      <div class="col-sm-6">
        Email: {{ user.email }}
      </div>
  </div>
  <div class="row mb-3">
      <div class="col-sm-6">
          <a href="{% url 'auth_password_change' %}">Change your password.</a>
      </div>
  </div>
{% endblock %}
