<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
        <title>Canvas</title>
        <script src="{% static 'js/jquery-3.4.1.js' %}"></script>
    </head>
    <body>
    <div id="div_title">
        <h1>Our Place</h1>
        
    </div>
    
    <div id="div_main">
        <div id="div_canvas">
            <canvas id="canvas"></canvas>
        </div>
        
        

        <div id="colour_box">
            <div id="selected_colour">
                <p id="colour_string">Colour</p>
                <p id="timer"></p>
            </div>
            <div id="div_buttons">

                {% for rows in colours %}
                    <div class="row">
                        {% for colour in rows %}
                            <div class="column">
                            <button class="button" id='whBtn' onclick="setColor(this)" style="background-color: {{ colour }};"></button>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
                
            </div>
        </div>
    </div>

    <link rel="stylesheet" href="{% static 'css/canvas_style.css' %}">
    <script type="text/javascript" src="{% static 'js/canvas_setup.js' %}"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
    
    </body>
</html>