{% extends "ourplace/base.html" %}

{% block body_block %}
<div class="form-row justify-content-center">
  <h1>Create a New Place!</h1>
</div>
<form id="CanvasForm" method="post" action=".">
    {% csrf_token %}
    {% for form_field in form %}
    <div class="form-group form-row justify-content-center">
      <div class="col-sm-5">
        {{ form_field.label_tag }}
        {{ form_field }}
      </div>
    </div>
    {% endfor %}
    <div class="form-group form-row justify-content-center">
      <div class="col-sm-5">
        <button type="submit" class="btn btn-primary">Create Place!</button>
      </div>
    </div>
</form>
{% endblock %}
