{% extends "ourplace/base.html" %}

{% block title_block %}
FAQ - Our Place
{% endblock %}

{% block body_block %}
  <div class="centre-textbox">
      <h1>FAQ</h1>
      <h2>Question 1?</h2>
        <p>Answer to question 1 that shows we are real people.</p>
      <h2>Question 2?</h2>
        <p>A slightly different answer that appears to say something new and different but actually just says the same thing as the answer above.</p>
      <h2>Question 3?</h2>
        <p>Like the questions above, nobody actually asked this or cares about it but PR said it was good to put this kind of stuff here so you are going to read it anyway.</p>
      <h2>Do we comply with GDPR?</h2>
        <p>Now that you have read through 3 useless FAQs, you have finally reached the one you want. Of course we aren't GDPR compliant.</p>
  </div>
{% endblock %}
