{% extends "ourplace/base.html" %}
{% load ourplace_template_tags %}
{# Required variables: list of users own canvas's - users_places, list of popular canvases - popular_places #}

{% block body_block %}
  {% if has_searched %}
  <div class="row">
      <div class="col">
          <h1>Search results for: <small>{{ search_string }}</small></h1>
      </div>
  </div>
    {% if num_results > 0 %}
      {% display_carousel search_results %}
    {% else %}
    <div class="row">
      <div class="col">
        <h3>No results...</h3>
      </div>
    </div>
    {% endif %}
  {% endif %}
  {% if user.is_authenticated %}
  <div class="row">
      <div class="col">
          <h1>Your Places</h1>
      </div>
  </div>
  {% if num_user_places > 0 %}
    {% display_carousel users_places False %}
    {% else %}
    <div class="row">
        <div class="col">
            <h3>You have no places, <a href="{% url 'ourplace:create_place' %}">Create One?</a></h>
        </div>
    </div>
  {% endif %}
  {% endif %}
  <div class="row">
    <div class="col">
      <h1>Popular</h1>
    </div>
  </div>
  {% display_carousel popular_places %}
{% endblock %}
