{% extends "ourplace/base.html" %}
{% load staticfiles %}



{% block body_block %}
{% if canvas %}
<div class="row">
    <div class="col">
      <h1>{{ canvas.title }} by <small class="text-muted">{{ canvas.owner }}</small></h1>
        <h1 id="room_name_slug" style="display: none;">{{ canvas.slug }}</h1>
        <h1 id="room_size" style="display: none;">{{ canvas.size }}</h1>
    </div>
</div>
<div class="row">
    <div class="col">
      <div id="div_main">
          <div id="div_canvas">
              <canvas id="canvas"></canvas>
          </div>


          <div id="colour_box">
              <div id="selected_colour">
                  <p id="colour_string">Colour</p>
                  <p id="timer"></p>
              </div>
              <div id="div_buttons">


                  {% for colour in palette %}


                      {% if forloop.counter0|divisibleby:4  %}
                          {% if forloop.first %}
                              <div class="rowx">
                          {% else %}
                              </div><div class="rowx">
                          {% endif %}
                      {% endif %}

                      <div class="columnx">
                          <button class="button" id="{{ forloop.counter0 }}" style="background-color: {{ colour }};"></button>
                      </div>


                      {% if forloop.last %}</div>{% endif %}
                  {% endfor %}


              </div>
          </div>
      </div>
    </div>
</div>
{% else %}
<h1>Canvas not found :(</h1>
{% endif %}
{% endblock %}

{% block extra_scripts %}
<link rel="stylesheet" href="{% static 'css/canvas_style.css' %}">
<script type="text/javascript" src="{% static 'js/websocket_stuff.js' %}"></script>
<script type="text/javascript" src="{% static 'js/canvas_setup.js' %}"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
{% endblock %}
