{% extends 'ourplace/base.html' %}

{% block title_block %}
Login
{% endblock %}

{% block body_block %}
<form class="login-form" method="post" action=".">
  {% csrf_token %}
  <div class="form-row justify-content-center">
      <div class="col-sm-5"><h1>Login</h1></div>
  </div>
  {% if form.errors %}
  <div class="form-row justify-content-center">
    <div class="col-sm-5">
      Errors:
      {{ form.non_field_errors }}
    </div>
  </div>
  {% endif %}
  <div class="form-row form-group justify-content-center">
    <div class="col-sm-5">
      <label for="id_username">Username</label>
      <input type="text" name="username" class="form-control" id="id_username" required="" />
    </div>
  </div>
  <div class="form-row form-group justify-content-center">
    <div class="col-sm-5">
      <label for="id_password">Password</label>
      <input type="password" id="id_password" name="password" required="" class="form-control" />
    </div>
  </div>
  <div class="form-row justify-content-center">
      <div class="col-sm-5">
          <button type="submit" class="btn btn-primary">Login</button>
      </div>
  </div>
  <input type="hidden" name="next" value="{{ next }}" />
</form>
<div class="form-row justify-content-center">
    <div class="col-sm-5">
        <p class="mt-2">Not registered? <a href="{% url 'registration_register' %}">Register here!</a></p>
    </div>
</div>
{% endblock %}
