

#div_main {
  float: left;
  clear: both;
}

#div_canvas {
  box-shadow: 10px 10px 10px grey;
  margin-top: 18px;
  margin-left: 120px;
  image-rendering: -moz-crisp-edges; /* Firefox for android 4 < version < 65 */
  image-rendering: crisp-edges; /* Acts as fall back for when pixelated doesn't work. */
  image-rendering: pixelated;
  cursor: pointer;

  /* Note: MS Edge doesn't support any form of pixelated edges through CSS (30/02/20) */
}


.page_title {
  color: cyan;
  font-size: xx-large;
  font-family: "Monospace, Serif";
  float: none;
  margin-left: auto;
}

#colour_box {
  position: fixed;
  width: 24vh;
  height: 4vh;
  margin-left: 0%;

}

.row{
  float: left;
  height: 25%;
  width: 100%;
  margin:auto;
}

.column{
  float: left;
  width:25%;
  height:100%;
}

#colour_string {
  position: absolute;
  margin: auto;
  margin-left: 10%;
  color: whitesmoke;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  outline-style:none;
}

#timer{
  margin: auto;
  float:right;
  margin-right: 10%;
  color: whitesmoke;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#selected_colour{
  box-shadow: 10px 10px 10px grey;
  background-color:whitesmoke;
  border: 3px solid black;
  width: 24vh;
  margin-top: -19%;
  height: 4vh;
  border-radius: 8px 8px 8px 8px;
  cursor: pointer;

}

#div_buttons {
  position: absolute;
  height: 24vh;
  width: 24vh;
  border-radius: 5%;
  background-color:whitesmoke;
  box-shadow: 10px 10px 10px grey;
  border: 3px solid black;
}


.div footer {
  position: fixed;
  bottom: 10px;
}

.button {
    border: none;
    display: inline-block;
    margin:auto;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 12%;
    margin-right: 12%;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 4vh;
    height: 80%;
    border-radius: 20%;
    box-shadow: 3px 3px 8px grey;
  }

.button:hover{
    background-color: white;
    color: black;
    border: 2px solid rgb(255, 255, 255);
  }
